.hidden {
	display: none;
}

* {

	background-color: #cfe3ca;
	text-align: center;
}

.js-query, .js-number-input, .submit-button {

 border: 2px solid lightgrey;
 font-size: 20px;
}

body {
	font-size: 120%;
	border: 3px solid black;
	padding-bottom: 20px;
	font-family: 'Spectral', serif;
}


.result {
	color: maroon;
}

label {
	display: block;
}

.js-number-input {
	width: 40px;

}

.yes, .no {
	margin-bottom: 20px;
}

